body {
    padding: 0;
    margin: 0;
}

.top-title {
    padding: 5px 0 5px 2px;
}

.top-banner {
    width:100%;
    background-color: rgb(95, 95, 95);
    color: rgb(241,241,241);
    height: 40px;
    white-space: normal;
    border: none;
    outline: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.top-banner a {
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    font-size: 17px;
    border: none;
    outline: none;
    float: left;
    vertical-align: middle;
    text-decoration: none;
    color: #fff !important;
}

.top-banner a.active {
    background-color: #4CAF50;
}

.top-banner a:hover {
    background-color: #000 !important;
    color: #fff !important;
}

.top-banner a:focus {
    color: #fff !important;
}

.blog-container {
    padding: 10px 0 0 10px;
}